body {
  background:  white;
}

.list-group-item {
  line-height: 2.5;
}

#games {
  background: white;
  border: 1px solid;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 5px 5px 8px #4f97a3, 10px 10px 8px white, 15px 15px 8px #282828;
 
}

.col-lg-12 h2{
  text-align: center;
  color: white;
}
.col-8 h3{
  text-align: center;
  color: white;
}

.col-8{
  margin-top: 5px;
}

form{
  background: white;
  border: 1px solid;
  padding: 10px;
  margin-right: 5px;
  box-shadow: 5px 5px 8px #4f97a3, 10px 10px 8px white, 15px 15px 8px #282828;
}

.container {
  margin-top: 5px;
  border: 1px solid;
  padding: 15px;
  box-shadow: 5px 10px 15px 10px #888888;
}

.container {
  background: #282828; /* match border color */
  text-align: center;
}

li {
  background: white;
  border: 1px solid;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 5px 5px 8px #4f97a3, 10px 10px 8px white, 15px 15px 8px #282828;
}

a {
  color: #4f97a3;
}
small {
  color: #333;
}
.logo {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

/* stuff for 1st word */
.logo .word1 {
  color: #4f97a3;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #282828;/* match background color */
  border-right-color: #282828;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #282828;
  border-left-color: #282828;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #282828;
  border-left-color: #282828;
}
.logo .word2:after {
  right: -4px;  
  bottom: 4px;
  border-bottom-color: #282828;
  border-right-color: #282828;
}



